@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}
html,body{
    font-size: 62.5%; /*10 dividido por 16 vezes 100 */ 
    min-height: 100vh;
    width: 100%;
}
#cabeçudo{
    width: 100%;
    height: 13.8rem;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
}
.logo{
    height: 100%;
    width: 50rem;
    background-repeat: no-repeat;
    background-size:20rem;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}    
nav{
    display: flex;
    width:  50%;
    height: 100%;
    
}
nav ul{
    display: flex;
    width: 100%;
    height: 100%;   
    justify-content: space-around;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav a{
    color: #000000;
    font-weight: bold;
    font-size: 2.2rem;
    text-decoration: none;
}
/* Home */
.capa{
    background-image:url("../lesson/imagens/capa.png");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.foto1{
    left: calc(50% - 39.3rem/2 + 36.3rem);
    right: 0;
    top: 17.6rem;
    position: absolute;
    background-image: url("../lesson/imagens/lorennaeeu.png");
    width: 39.3rem;
    height: 45rem;
}

.sobremim{
position: absolute;
width: 76.2rem;
height: 25.3rem;
left: 6.9rem;
top: 20rem;
background: #F4F8FA;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 42px;
justify-content: center;
display: grid;
grid-template-rows: 1fr 3fr;
grid-template-columns: 1fr 10fr 1fr;
}
.sobremim h2{
    font-size: 4rem;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    grid-column: 2;
}
.sobremim h3{
    font-size: 2rem;
    align-items: center;
    text-align: justify;
    padding: 3rem 0;
    grid-column: 2;
}
/* Estudos */
#estudos{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 3rem 10rem;
    background-image: linear-gradient(to bottom, #ffffff, #f3f5ff, #e3edff, #cce6ff, #b1e0ff, #93d7ff, #6ecdff, #37c4ff, #00b2ff, #109aff, #005091, #003f73);
}
#estudos{
    width: 100%;
    height: calc(100vh - 13.6rem);
    display: flex;  
    flex-direction: column;  
}
.estudos_title{
    flex-direction: column;
    padding: 0rem 2.55rem;
}
.estudos_title p{
    font-size: 2rem;
}
.estudos_tecnologia{
    width: 100%;
    display: flex;
    flex: 4;
    justify-content: space-between;
    align-items: center;
}
.tecnologia i{
    font-size: 12rem;
}
.tecnologia{
    font-size: 4.2rem;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fa-js-square{
    color: rgb(252, 214, 0);
}
.fa-html5{
    color:red;
}
.fa-css3-alt{
    color: blue
}
.fa-react{
    color: blue;
    animation: loading 5s infinite alternate;
}
.tecnologia:hover{
    color: #ffffff;
}
@keyframes loading{
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
#estudos div h1{
    /* Estudos */
font-style: normal;
font-weight: normal;
font-size: 64px;
color: #000000;
}
    /* Reference */
#referencias{
    width: 100%;
    height: calc(100vh - 13.6rem);
    display: flex;  
    flex-direction: column;  
    background-image: linear-gradient(to bottom, #003f73, #212d37);
}
.referencias_title{
    font-size: 2rem;
    font-weight: normal;
    color:#ffffff;
    flex-direction: column;
    padding: 5rem 10%;
}
.referenceContent{
    width: 78%;
    height: 65%;
    display: grid;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5rem;   
}
.content{
    height: 100%;
    box-shadow: inset -5px -200px 120px -120px black,  0 0 15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset -5px -200px 120px -120px black, 0 0 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:inset -5px -200px 120px -120px black, 0 0 15px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
}
.description{
    background-color: transparent;
    height: 10%;
    border-radius: 1rem;
    width: 100%;
    align-self: flex-end;
    transition: all .5s;
    justify-content: center;
    display: grid;
}
.content1{
    background-image: url(../lesson/imagens/samiraeeu2.png);
    grid-column: 1;
}
.content2{
    background-image: url(../lesson/imagens/afonso1.png);
    grid-column: 2;
}
.content3{
    background-image: url(../lesson/imagens/shanks.jpg);
    grid-column: 3;
}
.content1:hover .description, .content2:hover .description, .content3:hover .description{
    height: 65%;
    background-color: rgba(0, 0, 0, 0.55);
    grid-template-rows: 1fr 1fr 1fr;
}
.content h1{
    font-size: 2rem;    
    color: #ffffff;
    grid-column: 1;
    display: flex;
    justify-content: center;
} 
.text{
    color: #ffffff;
    font-size: 1.5rem;  
    align-self: center;
    display: none;    
    padding: 0 2rem;
    text-align: justify;
}
.content1:hover .text, .content2:hover .text, .content3:hover .text{
    display: block;
    grid-row: 2;
}
.description h1{
    /* Reference */
    grid-row: 1;
}
    /* About */
#about{
    background-image: linear-gradient(to bottom, #212d37, #1b252e);
    height: calc(100vh - 13.6rem);
    width: 100%;
    display: flex;
    flex-direction: column;
}
.about_title{
    font-size: 2rem;
    color: #ffffff;
    padding: 5rem 10%;
}
.about_content{
    width: 78%;
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    column-gap: 5rem;
}
.about_element1{
    background-image: url(../lesson/imagens/rodrigoc.png);
    grid-column: 1;
    background-size: cover;
    background-repeat: no-repeat;
}
.about_element2{
    display: grid;
    grid-template-rows: 1fr 3fr;
}
.about_element2 h2, .about_element3 h2{
    font-size: 2.8rem;
    grid-row: 1;
    color: #fff;
    justify-self: center;
}
.about_element2 p, .about_element3 p{
    font-size: 2rem;
    grid-row: 2;
    color:#fff;
    justify-self: center;
    text-align: justify;
}
.about_element3{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}
.redes_sociais{
    font-size: 5rem;
    align-self: center;
    justify-self: center;
}
.redes_sociais i{
    justify-content: space-between;
    padding: 0.7rem;
}
.fa-instagram-square{
    color:rgb(170, 105, 179); 
    cursor: pointer;   
}
.fa-linkedin{
    color: #044e6e;
    cursor: pointer; 
}
footer{
    height: 2vh;
    width: 100%;
}
.pe_da_letra{
    font-size: 1.8rem;
    color: #fff;
    height: 100%;
    background-color: #0b4b66;
    padding-left: 12rem;
}