#estudos{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 3rem 10rem;
    background-image: linear-gradient(to bottom, #ffffff, #f3f5ff, #e3edff, #cce6ff, #b1e0ff, #93d7ff, #6ecdff, #37c4ff, #00b2ff, #109aff, #005091, #003f73);
}
#estudos{
    width: 100%;
    height: calc(100vh - 13.6rem);
    display: flex;  
    flex-direction: column;  
}
.estudos_title{
    flex-direction: column;
    padding: 0rem 2.55rem;
}
.estudos_title p{
    font-size: 2rem;
}
.estudos_tecnologia{
    width: 100%;
    display: flex;
    flex: 4;
    justify-content: space-between;
    align-items: center;
}
.tecnologia i{
    font-size: 15rem;
}
.tecnologia b{
    font-size: 2rem;
}
.tecnologia{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fa-js-square{
    color: rgb(252, 214, 0);
}
.fa-html5{
    color:red;
}
.fa-css3-alt{
    color: blue
}
.fa-react{
    color: blue;
    animation: loading 5s infinite alternate;
}
.tecnologia:hover{
    color: #ffffff;
}
@keyframes loading{
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
#estudos div h1{
    /* Estudos */
font-style: normal;
font-weight: normal;
font-size: 64px;
color: #000000;
}