#about{
    background-image: linear-gradient(to bottom, #212d37, #1b252e);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.about_title{
    font-size: 2rem;
    color: #ffffff;
    padding: 5rem 10%;
}
.about_content{
    width: 80vw;
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    column-gap: 5rem;
}
.about_element1{
    background-image: url("../imagens/rodrigoc.webp");
    grid-column: 1;
    background-size: contain;
    background-repeat: no-repeat;
}
.about_element2{
    display: grid;
    grid-template-rows: 1fr 3fr;
}
.about_element2 h2, .about_element3 h2{
    font-size: 2rem;
    grid-row: 1;
    color: #fff;
    justify-self: center;
}
.about_element2 p, .about_element3 p{
    font-size: 1.4rem;
    grid-row: 2;
    color:#fff;
    justify-self: center;
    text-align: justify;
}
.about_element3{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}
.redes_sociais{
    font-size: 5rem;
    align-self: center;
    justify-self: center;
}

.redes_sociais i{
    justify-content: space-between;
    padding: 0.7rem;
}
.fa-github-square{
    color:rgb(196, 116, 172); 
    cursor: pointer;   
}
.fa-linkedin{
    color: #044e6e;
    cursor: pointer; 
}
.fa-github-square:hover{
    color: #fff
}
.fa-linkedin:hover{
    color:#FFF
}